:root {
  --basic-black: 000000;
  --basic-white: FFFFFF;
  --basic-light-gray: A6A6A6;
  --basic-red:283136;
  --basic-silver: C1C1C1;
  --basic-lighter-gray: EEEEEE;
  --basic-purple: FB565A;
  --basic-dark-telegray: 888888;
  --basic-green: 00CA74;
  --basic-yellow: EFC849;
  --basic-blue-black: 444444;
  --basic-cian: e1e1e1;
  }

  body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);

    .nerds-logo {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      width: 159.87px;
      height: 65.02px;
      left: 140px;
      top: 48.98px;
    }

    .nerds-logo img:hover,
    .nerds-logo img:focus {
      opacity: 0.8;
      -webkit-transition: opacity 0.3s;
           -o-transition: opacity 0.3s;
              transition: opacity 0.3s;
    }

    .nerds-logo img:active {
      opacity: 0.3;
      -webkit-transition: opacity 0.3s;
           -o-transition: opacity 0.3s;
              transition: opacity 0.3s;
    }


    a {
      text-decoration: none;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .site-navigation {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-size: 16px;
      line-height: 30px;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: var (var(--basic-purple);
    }

    li a.active {
      color: white;
      background-color: #4CAF50;
    }
